@page
@model IndexModel
<link rel="stylesheet" href="~/css/style.css">
<script src="~/js/script.js"></script>

<div class="box">
    <h1>Welcome @Model.Name</h1>
    <button onclick="showMessage()">Click Me</button>
</div>