@page
@model _1_RazorFirstApp.Pages.IndexModel

<h2>Hello @Model.Name</h2>

<form method="post">
    <input asp-for="Name" placeholder="Enter Indian name" />
    <button type="submit">Submit</button>
</form>