<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <h1>📋 Item Manager</h1>
        <hr />
        @RenderBody()
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>