@model _1_StudentManagementSystem.Models.Student

<h2>Edit Student</h2>

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    
    Name: <input type="text" name="Name" value="@Model.Name" required />
    <br /><br />
    
    Course: <input type="text" name="Course" value="@Model.Course" required />
    <br /><br />
    
    Age: <input type="number" name="Age" value="@Model.Age" required />
    <br /><br />
    
    <button type="submit">Update</button>
    <a href="/Student/Index">Cancel</a>
</form>